.row {
	width: 100%;
}

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33%;
		background-color: blue;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%;
		float: left;
		background-color: red;
	}

	.col-md-12 {
		width: 100%;
		float: left;
		background-color: green;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		width: 100%;
		float: left;
		background-color: yellow;
	}
}